<!--  -->
<div class="row box2">
  <div class="col-md-6 ">
    <div class="col-md-6 d-flex justify-content-start align-items-center my-2">
      <input type="text" placeholder="Search User..." name="search" class="inp">

    </div>
  </div>
  <div class="col-md-6 d-flex justify-content-end align-items-center my-2">
    <div class="">
      <button type="button" class="btn ">Add User</button>
    </div>
  </div>
</div>
<!--  -->
<div class="container">
  <table class="table table-bordered border-primary">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td><i class="bi bi-pencil-square text-primary"></i> | <i class="bi bi-trash text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td><i class="bi bi-pencil-square text-primary"></i> | <i class="bi bi-trash text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry the Bird</td>
        <td>abc</td>
        <td><i class="bi bi-pencil-square text-primary"></i> | <i class="bi bi-trash text-danger"></i></td>
      </tr>
    </tbody>
  </table>
</div>